@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom styles for the accordion menu */
.accordion {
  max-width: 400px; /* Adjust as needed */
}

.accordion-item {
  border-bottom: 1px solid #ddd; /* Add a border between accordion items */
}

.accordion-item-input {
  display: none;
}

.accordion-item-header {
  display: block;
  padding: 1rem;
  cursor: pointer;
  user-select: none;
}

.accordion-item-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-item-input:checked
  + .accordion-item-header
  + .accordion-item-content {
  max-height: 1000px; /* Adjust as needed */
}

/* Styling for sub-accordion (nested accordion) */
.sub-accordion {
  margin-left: 1rem; /* Adjust as needed for indentation */
}

.brand-logo {
  margin-bottom: 24px !important;
}
.collection-banner {
  /* border-radius: 12px !important; */
  width: 100% !important;
}

.toggle-nav {
  padding-top: 20px !important;
  padding-bottom: 44px !important;
}

.container-type {
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: contents !important;
}

.partition2 .col-md-6 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 0px !important;
}

.title1 {
  padding-top: 80px !important;
}

.title1 h4 {
  color: #cd212a !important;
}

.title-inner1 {
  padding-left: 3px !important;
  padding-right: 2px !important;
}

.mobile-fix-option {
  width: 100% !important;
}

.card-type {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

.card-type .card-body {
  flex: 1 !important;
}

.section-b-space {
  background-color: #f4f2f2;
}

.service-block h4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #fff;
}

.pixelstrap li a {
  font-weight: normal !important;
}

.service-block p {
  text-transform: capitalize;
  margin-bottom: 0;
  color: #fff !important;
  font-weight: lighter;
}

.filter-main-btn span {
  border-radius: 8px !important;
  background-color: #cd212a !important;
}

.sm-horizontal .mobile-back {
  font-weight: normal !important;
}

.img-wrapper {
  border-radius: 12px;
}

.product-box .img-wrapper,
.product-wrap .img-wrapper {
  object-fit: cover !important;
}

.media img {
  filter: grayscale(100%) contrast(100%) brightness(45.5) !important;
  display: inline-block;
}

@media (max-width: 768px) {
  .collection-product-wrapper .product-wrapper-grid .product-box {
    max-height: 290px;
  }
}

.wave {
  display: inline-block;
  transform: rotate(45deg);
}
