.brand-logo {
  margin-bottom: 24px !important;
}
.collection-banner {
  /* border-radius: 12px !important; */
  width: 100% !important;
}

.toggle-nav {
  padding-top: 20px !important;
  padding-bottom: 44px !important;
}

.container-type {
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: contents !important;
}

.partition2 .col-md-6 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 0px !important;
}

.title1 {
  padding-top: 80px !important;
}

.title1 h4 {
  color: #cd212a !important;
}

.title-inner1 {
  padding-left: 3px !important;
  padding-right: 2px !important;
}

.mobile-fix-option {
  width: 100% !important;
}

.card-type {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

.card-type .card-body {
  flex: 1 !important;
}

.section-b-space {
  background-color: #f4f2f2;
}

.filter-main-btn span {
  border-radius: 8px !important;
  background-color: #cd212a !important;
}

.sm-horizontal .mobile-back {
  font-weight: lighter !important;
}

.pixelstrap li a {
  font-weight: lighter !important;
}

.img-wrapper {
  border-radius: 12px;
}

.product-box .img-wrapper,
.product-wrap .img-wrapper {
  object-fit: cover !important;
}

.container-service {
  background-color: #cd212a;
  margin-right: 0px;
  margin-left: 0px;
  display: table-row-group;
}

.media img {
  filter: grayscale(100%) contrast(100%) brightness(45.5) !important;
  display: inline-block;
}

/* .account-sidebar {
  font-size: 12px !important;
  font-weight: lighter !important;
  border-radius: 8px !important;
} */

@media (max-width: 768px) {
  .collection-product-wrapper .product-wrapper-grid .product-box {
    max-height: 290px;
  }
}

/* trial discount badge */
/* .discount-badge-trial .container-discount {
  margin-top: 10px;
  background-color: #f4f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
}
.discount-badge-trial .container-discount .gambar-statis {
  margin-top: 20px;
} */

.wave {
  display: inline-block;
  transform: rotate(45deg);
}
